@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

body {
  background-color: #f4f0ee;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ece7e3;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7e736c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
